
<b>Upcoming lunch:<br></b>
Friday!<br>
Shenanigans or Chotchkies<br>
<br>
<div class="hero-unit">
  <h1>Upcoming Lunch</h1>
  <p>Friday at noon</p>
  <p>
    Shenanigans or Chotchkies
  </p>
</div>


<blockquote class="pull-right">
    <p>Anyone who has lost track of time when using a computer knows the propensity to dream, the urge to make dreams come true and the tendency to miss lunch.</p>
  <small>Tim Berners-Lee</small>

</blockquote>
<br>
<b>Past Lunches</b>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Where</th>
      <th>When</th>
      <th>How</th>
    </tr>
  </thead>

  <tbody>
    <% @lunches.each do |lunch| %>
      <tr>
        <td><%= lunch.place %></td>
        <td><%= time_ago_in_words lunch.time %></td>
	<td><%= lunch.note %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p class="lead">
Contact @exois on twitter for more infomation. Devlunch is a group of halifax developers that go out on Fridays for lunch!
</p>
