
<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Time</th>
      <th>Note</th>
    </tr>
  </thead>

  <tbody>
    <% @lunches.each do |lunch| %>
      <tr>
        <td><%= lunch.place %></td>
        <td><%= time_ago_in_words lunch.time %></td>
	<td><%= lunch.note %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

Contact @exois on twitter for more infomation. Devlunch is a group of halifax developers that go out on Fridays for lunch!
